body {
  background: linear-gradient(335deg, #f9e4e4, #f1fff6, #e5e7f9);
}

span {
  margin-left: -20%;
}

[v-cloak] {
  display: none !important;
}

.timeBar {
  font-family: Rubik;
}
